@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  @apply transition-all duration-200; 
}

html[data-theme="light"] {
  --background: #ffffff;
  --foreground: #171717;
}

html[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
}
